.school-divider {
  margin: 3rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.school-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

// Media Query for screens that are smaller than 1024px e.g. Mobile
@media screen and (max-width: 1024px) {
  .school-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
  }

  .school-info {
    text-align: center;

    .school-image {
      margin: 0 0.4em 0 0.4em;

      hr {
        margin: 0;
      }
    }
  }

  .mission-item {
    margin: 3rem 0 3rem 0;
  }
}
