.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .instagram {
    h3 {
      text-align: center;
    }

    a {
      text-decoration: none;
    }
  }
}
