.mission .col-md-6 {
  margin-bottom: 1.5rem;
  text-align: center;
  padding: 0 2em 0 2em;
}

// Media Query for screens that are bigger than 1024px e.g. Desktops
@media screen and (min-width: 1024px) {
  .mission {
    hr {
      margin: 0 0 4rem 0;
    }
  }
}

// Media Query for screens that are smaller than 1024px e.g. Mobile
@media screen and (max-width: 1024px) {
  .mission {
    text-align: center;

    .title {
      margin: 0 0.4em 0 0.4em;

      hr {
        margin: 0;
      }
    }
  }

  .mission-item {
    margin: 3rem 0 3rem 0;
  }
}
